html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Dies ist Project Future, Wilkommen in der Vergangenheit
        br
        p Dieser Container wurde mit dem Image:
        br
        h1 FuturistischeVergangenheit
        br
        p erzeugt
        p 
          a.btn.btn-primary(href="https://github.com/ask-yo-girl-about-me/Project-Future.git") Gitlab Repository
