body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url("/00_img/mountain-landscape-illustration-design-b-Graphics-13326021-1.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(66, 0, 121, 0.4);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #3b0063;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}